*{
    padding: 0;
    margin: 0;
}
body{
    background: black;
}

nav{
    background: rgb(255, 255, 255);
    height: 10vh;
    width: 100%;
    background: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;

}

.logo img{
    padding-top: 1rem;
    padding-left: 0.5rem;
    width: 12rem;
}

label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

a.current,a:hover{
    color: #FFF500;
    transition: 0.2s;
}

.checkbtn{
    font-size: 30px;
    color: #fcfcfc;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

body{
    background: #111E2B;
}


/*BASI SVILUPPO WEB*/
#basetitle{
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
}

#basetitle .title{
    text-align: center;
    font-size: 50px;
    color: #FFF500;
    font-family:'Bebas Neue', cursive ;
}

#corsobase{
    display: flex;
    padding-bottom: 6rem;
}

#corsobase .copertina{
    padding-left: 1rem;
}

#corsobase .copertina img{
    border: 2px solid #FFF500;
    border-radius: 10px;
    width: 90%;
}

#corsobase .info{
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 50%;
    align-items: center;
}

#corsobase .info h3{
    color: #FFF500;
    font-family:'Bebas Neue', cursive;
    font-size: 40px;
    text-align: center;
}

#corsobase .info p{
    color: #ffff;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 2rem;
} 

#corsobase .info p a{
    color: #ffff;
    transition: 0.3s;
} 

#corsobase .info p a:hover{
    color: #FFF500;
    transition: 0.5s;
} 

#subscribebutton{
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}

#subscribebutton button{
    border-radius: 10px;
    height: 30px;
    width: 200px;
    transition: 0.5s;
    background: #ffff;
    font-family: 'ABeeZee', sans-serif;
    border: 1px solid black;
    
}

#subscribebutton button a{
    color: black;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
}

#subscribebutton button:hover{
    background: #FFF500;
    transition: 0.5s;
    transform: scale(1.1);
}


#lesson{
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#lesson .titolo h3{
    color: #FFF500;
    font-size: 40px;
    font-family:'Bebas Neue', cursive;
    text-align: center;
    padding-bottom: 1rem;
}

#lesson .description {
  display: flex;
  justify-content: space-evenly;
}

#lesson .description p{
    color: #ffff;
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
}

#lesson .description .color{
    color: #FFF500;
    font-family:'Bebas Neue', cursive;
    font-size: 25px;
}

/*LEZIONI*/
#course-title{
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
}

#course-title h1{
    text-align: center;
    font-size: 50px;
    color: #FFF500;
    font-family:'Bebas Neue', cursive ;
}

#course-title h6{
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    font-family:'Bebas Neue', cursive ;
}

#page{
    height: auto;
    display: flex;
    justify-content: space-between;
}

#page #curriculum .container-curriculum{
    background-color: #0a141d;
    border: 1px solid #FFF500;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#page #curriculum .container-curriculum h6{
    color: #FFF500;
    font-size: 40px;
    font-family:'Bebas Neue', cursive;
    margin-left: 0.5rem;
}

#page #curriculum .container-curriculum .current{
    text-decoration: underline;
}

#page #curriculum .container-curriculum a{
    text-decoration: none;
    transition: 0.3s ease;
}

#page #curriculum .container-curriculum a:hover{
    text-decoration: underline;
    transition: 0.3s ease;
}

#page #curriculum .container-curriculum p{
    color: #ffffff;
    font-size: 25px;
    font-family: 'ABeeZee', sans-serif;
    margin-left: 0.5rem;
}

#page #video{
    padding-top: 2rem;
}

#page #video .container-video video{
    border: 1px solid #FFF500;
    border-radius: 20px;
}










































/*FOOTER*/
.footer{
    height: auto;
    background: #000000;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.footer p{
    font-family:'Bebas Neue', cursive;
    font-size: 25px;
}

.footer p{
    color: white;
} 

.footer p .color{
    color: #FFF500;
} 