.checkbtn{
  display: block;
}

ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000000;
  top: 70px;
  left: -100%;
  text-align: center;
  transition: all .5s;
  z-index:1;
}

nav ul li{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
nav ul li a{
  font-size: 35px;
}

.logo img{
  padding-top: 0.5rem;
  width: 12rem;
  height: 3.5rem;
}

a:hover,a.current{
  background: none;
  color: #FFF500;
}

#check:checked ~ ul{
  left: 0;
}

/*HOME*/
.title-h1{
  font-size: 100px;
}

#box .box-3{
display: flex;
flex-direction: column;
}

#box .box-3 .dx{
 margin-top: 1rem;
}

#box .box-5{
  display: flex;
  flex-direction: column;
}

#box .box-5 .sx{
  width: 97%;
  margin-bottom: 0.5rem;
}

#box .box-5 .dx{
  width: 97%;
  margin-top: 0.5rem;
}

#box .box-6{
  display: flex;
  flex-direction: column;
}

#box .box-6 .sx{
  width: 97%;
  margin-bottom: 0.5rem;
}

#box .box-6 .dx{
  width: 97%;
  margin-top: 0.5rem;
}

/*VIDEOCORSI*/
#titlevideocorsi{
  font-size: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#feedback iframe{
  width: 400px;
  height: 1300px;
}

/*CHI SIAMO?*/
#chisiamotitle .sx img{
  display: none;
}

#chisiamotitle .dx{
  width: 100%;
}

/*SVILUPPO BASE*/
#corsobase{
  display: flex;
  flex-wrap: wrap;
}

#corsobase .info{
  padding-top: 1rem;
  width: 100%;
}

/*LEZIONI CORSO BASE*/
#page{
  display: flex;
  flex-direction: column;
}

#page #curriculum .container-curriculum{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#page #curriculum .container-curriculum .current{
  text-align: center;
}

#page #curriculum .container-curriculum a{
  text-align: center;
}

#page #curriculum .container-curriculum p{
  text-align: center;
}

#page #video .container-video video{
  margin: 0rem;
  max-width: 100%;
}



/*HTML & CSS*/
#corsohtmlcss{
  display: flex;
  flex-wrap: wrap;
}

#corsohtmlcss .info{
  padding-top: 1rem;
  width: 100%;
}

#lesson .description {
  flex-wrap: wrap;
}

#lesson .description p{
  padding-bottom: 1rem;
}

#corsohtmlcss .copertina{
  width: 100%;
}

#corsohtmlcss .copertina img{
  width: 90%;
}
