*{
    padding: 0;
    margin: 0;
}
body{
    background: black;
}
/*HOME*/

nav{
    background: rgb(255, 255, 255);
    height: 10vh;
    width: 100%;
    background: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;

}

.logo img{
    padding-top: 1rem;
    padding-left: 0.5rem;
    width: 12rem;
}

label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

a.current,a:hover{
    color: rgb(234, 255, 0);
    transition: 0.2s;
}

.checkbtn{
    font-size: 30px;
    color: #fcfcfc;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*TITLE SECTION*/
#titolo{
    background: url('./img/sfondo_home.png') center center/cover;
    height: auto;
    padding-bottom: 2rem;
    width: 100%;
}

.title-h1{
    color: #ffffff;
    font-size: 110px;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    text-shadow: 7px 7px 4px rgb(0, 0, 0);
    padding-top: 3rem;
    text-align: center;
}

.title-h3{
    color: rgb(234, 255, 0);
    font-size: 50px;
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 7px 7px 4px rgb(0, 0, 0);
    top: 100px;
}

/*SECTION 1*/
#section1{
    background: #202020;
    height: auto;
    background: url('./img/background\ section.png') center center/cover no-repeat;
    display: flex;
}

#section1 img{
    width: 80%;
    padding-left: 1rem;
}

#section1 .domanda{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(234, 255, 0);
    font-size: 40px;
    padding-top: 1rem;
}

#section1 p{
    color: white;
    font-size: 30px;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#section1  .color{
    color: rgb(234, 255, 0);
}

/*SECTION 2*/
#section2{
    background: #202020;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#section2 .domanda{
    display: flex;
    justify-content: center;
    color: rgb(234, 255, 0);
    font-size: 40px;
    text-align: center;
}

#section2 p{
    color: white;
    font-size: 30px;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    padding-top: 1rem;
}

/*SECTION 2*/
#section3{
    background: black;
    height: auto;
    background: url('./img/background\ section\ \(reverse\).png') center center/cover no-repeat;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

#section3 .dx img{
    width: 80%;
}

#section3 .sx{
    width: 100%;
}

#section3 .domanda{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(234, 255, 0);
    font-size: 40px;
    padding-top: 1rem;
}

#section3 p{
    color: white;
    font-size: 30px;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    padding-top: 1rem;
}

#section3  .color{
    color: rgb(234, 255, 0);
}

/*SECTION 4*/
#section4{
    background: #202020;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#section4 .title{
    display: flex;
    justify-content: center;   
    color: rgb(234, 255, 0);
    font-size: 40px;
    text-align: center;
}

#section4 h4{
    color: white;
    font-size: 30px;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    padding-top: 1rem;
}

#section4  .color{
    color: rgb(234, 255, 0);
}

/*SECTION MAX*/
#sectionmax{
    display: flex;
    justify-content: space-around;
    background: url('./img/background\ section.png') center center/cover no-repeat;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
}

/*SECTION 5*/
#section5{
    background: #202020;
    height: auto;
    margin-top: 1rem;
    padding-bottom: 1rem;
    width: 500px;
    border-radius: 10px;
    box-shadow: 7px 7px 4px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

#section5 .domanda{
    display: flex;
    justify-content: center;
    color: rgb(234, 255, 0);
    font-size: 40px;
    text-align: center;
}

#section5 p{
    color: white;
    font-size: 30px;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    padding-top: 1rem;
}

/*SECTION 6*/
#section6{
    background: #202020;
    height: auto;
    margin-top: 1rem;
    padding-bottom: 1rem;
    width: 500px;
    border-radius: 10px;
    box-shadow: 7px 7px 4px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

#section6 .domanda{
    display: flex;
    justify-content: center;
    color: rgb(234, 255, 0);
    font-size: 40px;
    text-align: center;
}

#section6 p{
    color: white;
    font-size: 30px;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    padding-top: 1rem;
}

#section6  .color{
    color: rgb(234, 255, 0);
}

#section6 a{
    color: rgb(255, 255, 255);
}

#section6 a:hover{
    color: rgb(234, 255, 0);
}

/*SECTION 7*/
#section7{
    background: #202020;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#section7 .domanda{
    display: flex;
    justify-content: center;
    color: rgb(234, 255, 0);
    font-size: 40px;
    text-align: center;
}

#section7 p{
    color: white;
    font-size: 30px;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    padding-top: 1rem;
}

#section7 a{
    color: rgb(255, 255, 255);
}

#section7 a:hover{
    color: rgb(234, 255, 0);
}

/*VIDEOCORSI*/
#titlevideocorsi{
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: url('./img/website-design-brisbane1.jpeg') center center/cover no-repeat;
    width: 100%;
}

#videocorsi{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./img/background\ section.png')center center/cover no-repeat;
    height: auto;
}
  
.container-videocorsi{
    position: relative;
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
  
.container-videocorsi .card{
    max-width: 300px;
    height: 215px;
    background: #202020;
    margin: 30px 10px ;
    padding: 20px 15px ;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out ;
    border-radius: 10px;
}
  
.container-videocorsi .card:hover{
    height: 400px;
}
  
.container-videocorsi .card .imgBx{
    position: relative;
    width: 90%;
    height: 150px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
  
.container-videocorsi .card .imgBx img{
    max-width: 100%;
    border-radius: 5px;
}
  
.container-videocorsi .card .paragrafo{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: white;
    font-family: 'ABeeZee', sans-serif;
    font-size: 18px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
  
.container-videocorsi .card .paragrafo a {
    color: rgb(234, 255, 0);
    font-family: 'Bebas Neue', cursive;
}

.container-videocorsi .card:hover .paragrafo{
    visibility: visible;
    opacity: 1;
    margin-top: -30px;
    transition-delay: 0.3s ;
}
  
.container-videocorsi .card .prezzo{
    display: flex;
    justify-content: flex-end;
    color: rgb(234, 255, 0);
    font-family: 'Bebas Neue', cursive;
    visibility: hidden;
    font-size: 20px;
}

.container-videocorsi .card:hover .prezzo{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s ;
}

/*CHI SIAMO?*/
#chisiamotitle{
    background: url('./img/chi\ siamo\ background.png') center center/cover no-repeat;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
}

#chisiamotitle .sx img{
    width: 500px;
    height: 296px;
    top: 197px;
}

#chisiamotitle .dx{
    width: 60%;
    display: flex;
    align-items: center;
}

#chisiamotitle .dx p{
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    font-size: 36px;
    color: white;
    text-shadow: 0 5px 20px rgb(0, 0, 0);
}

#chisiamotitle .dx p .color{
    color: rgb(234, 255, 0);
}

#presentation{
    background: url('./img/background\ section.png') center center/cover no-repeat;
}

#presentation .container{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
}

#presentation .sx {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

#presentation .sx iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

.dx p{
    color: white;
}

#review-student{
    height: auto;
    padding-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background:#202020 ;
}

#review-student .recensioni h2{
    color: rgb(234, 255, 0);
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-top: 1rem;
}

#review-student .recensioni .image-reviews{
   text-align: center;
}

#review-student .recensioni .image-reviews img{
    padding-top: 1rem;
}

#review-student .total-student .number h1{
    color: rgb(234, 255, 0);
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    padding-top: 1rem;
}

#review-student .total-student .number p{
    font-family: 'ABeeZee', sans-serif;
    color: white;
    font-size: 40px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}





/*FOOTER*/
.footer{
    height: auto;
    background: #000000;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.footer p{
font-family: Bebas Neue;
font-size: 25px;
}

.footer p{
    color: white;
} 

.footer p .color{
    color: rgb(234, 255, 0);
} 
