*{
    padding: 0;
    margin: 0;
}
body{
    background: black;
}

nav{
    background: rgb(255, 255, 255);
    height: 10vh;
    width: 100%;
    background: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;

}

.logo img{
    padding-top: 1rem;
    padding-left: 0.5rem;
    width: 12rem;
}

label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

a.current,a:hover{
    color: #FFF500;
    transition: 0.2s;
}

.checkbtn{
    font-size: 30px;
    color: #fcfcfc;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

body{
    background: #111E2B;
}

/*VIDEOCORSI*/
#titlevideocorsi{
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    height: auto;
    padding-bottom: 5rem;
    padding-top: 5rem;
    background: url('./img/sfondo_black.jpg') center center/cover no-repeat;
    width: 100%;
}

#videocorsi{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
  
.container-videocorsi{
    position: relative;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
  
.container-videocorsi .card{
    max-width: 300px;
    height: 230px;
    background: #202020;
    margin: 30px 10px ;
    padding: 20px 15px ;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out ;
    border-radius: 10px;
}
  
.container-videocorsi .card:hover{
    height: 350px;
}
  
.container-videocorsi .card .imgBx{
    position: relative;
    width: 90%;
    height: 120px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
  
.container-videocorsi .card .imgBx img{
    max-width: 100%;
    border-radius: 5px;
}
  
.container-videocorsi .card a {
    color: #FFF500;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-align: center;
}

.container-videocorsi .card .paragrafo{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: white;
    font-family: 'ABeeZee', sans-serif;
    font-size: 18px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container-videocorsi .card:hover .paragrafo{
    visibility: visible;
    opacity: 1;
    margin-top: -2px;
    transition-delay: 0.3s ;
}
  
.container-videocorsi .card .prezzo{
    display: flex;
    justify-content: flex-end;
    color: #FFF500;
    font-family: 'Bebas Neue', cursive;
    visibility: hidden;
    font-size: 20px;
}

.container-videocorsi .card:hover .prezzo{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s ;
}

.container-videocorsi .card .prezzocancellato{
    display: flex;
    justify-content: flex-end;
    color: rgb(255, 0, 0);
    font-family: 'Bebas Neue', cursive;
    text-decoration: line-through;
    visibility: hidden;
    font-size: 20px;
}

.container-videocorsi .card:hover .prezzocancellato{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
}

.container-videocorsi .card .paragrafo .not-allowed:hover{
    cursor: not-allowed;
}

/*BASI SVILUPPO WEB*/
#basetitle{
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
}

#basetitle .title{
    text-align: center;
    font-size: 50px;
    color: #FFF500;
    font-family:'Bebas Neue', cursive ;
}

#corsobase{
    display: flex;
    padding-bottom: 6rem;
}

#corsobase .copertina{
    padding-left: 1rem;
}

#corsobase .copertina img{
    border: 2px solid #FFF500;
    border-radius: 10px;
    width: 90%;
}

#corsobase .info{
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 50%;
    align-items: center;
}

#corsobase .info h3{
    color: #FFF500;
    font-family:'Bebas Neue', cursive;
    font-size: 40px;
    text-align: center;
}

#corsobase .info p{
    color: #ffff;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 2rem;
} 

#corsobase .info p a{
    color: #ffff;
    transition: 0.3s;
} 

#corsobase .info p a:hover{
    color: #FFF500;
    transition: 0.5s;
} 

#subscribebutton{
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}

#subscribebutton button{
    border-radius: 10px;
    height: 30px;
    width: 200px;
    transition: 0.5s;
    background: #ffff;
    font-family: 'ABeeZee', sans-serif;
    border: 1px solid black;
    
}

#subscribebutton button a{
    color: black;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
}

#subscribebutton button:hover{
    background: #FFF500;
    transition: 0.5s;
    transform: scale(1.1);
}


/*Html & Css: Le basi dello sviluppo web*/
#htmlcsstitle{
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
}

#htmlcsstitle .title{
    text-align: center;
    font-size: 50px;
    color: #FFF500;
    font-family:'Bebas Neue', cursive ;
}

#corsohtmlcss{
    display: flex;
}

#corsohtmlcss .copertina{
    padding-left: 1rem;
    width: 50%;
}

#corsohtmlcss .copertina img{
    border: 2px solid #FFF500;
    border-radius: 10px;
    width: 90%;
}

#corsohtmlcss .info{
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 50%;
    text-align: center;
}

#corsohtmlcss .info h3{
    color: #FFF500;
    font-family:'Bebas Neue', cursive;
    font-size: 40px;
    text-align: center;
}

#corsohtmlcss .info p{
    color: #ffff;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 2rem;
} 

#corsohtmlcss .info p a{
    color: #ffff;
    transition: 0.3s;
} 

#corsohtmlcss .info p a:hover{
    color: #FFF500;
    transition: 0.5s;
} 

#lesson{
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#lesson .titolo h3{
    color: #FFF500;
    font-size: 40px;
    font-family:'Bebas Neue', cursive;
    text-align: center;
    padding-bottom: 1rem;
}

#lesson .description {
  display: flex;
  justify-content: space-evenly;
}

#lesson .description p{
    color: #ffff;
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
}

#lesson .description .color{
    color: #FFF500;
    font-family:'Bebas Neue', cursive;
    font-size: 25px;
}

/* JS VIDEOCORSO */
#jstitle{
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
}

#jstitle .title{
    text-align: center;
    font-size: 50px;
    color: #FFF500;
    font-family:'Bebas Neue', cursive ;
}

#corsojs{
    display: flex;
}

#corsojs .copertina{
    padding-left: 1rem;
}

#corsojs .copertina img{
    border: 2px solid #FFF500;
    border-radius: 10px;
    width: 95%;
}

#corsojs .info{
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 50%;
    align-items: center;
}

#corsojs .info h3{
    color: #FFF500;
    font-family:'Bebas Neue', cursive;
    font-size: 40px;
    text-align: center;
}

#corsojs .info p{
    color: #ffff;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 2rem;
} 

#corsojs .info p a{
    color: #ffff;
    transition: 0.3s;
} 

#corsojs .info p a:hover{
    color: #FFF500;
    transition: 0.5s;
} 

#lesson{
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#lesson .titolo h3{
    color: #FFF500;
    font-size: 40px;
    font-family:'Bebas Neue', cursive;
    text-align: center;
    padding-bottom: 1rem;
}

#lesson .description {
  display: flex;
  justify-content: space-evenly;
}

#lesson .description p{
    color: #ffff;
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
}

#lesson .description .color{
    color: #FFF500;
    font-family:'Bebas Neue', cursive;
    font-size: 25px;
}



/*FOOTER*/
.footer{
    height: auto;
    background: #000000;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.footer p{
font-family: Bebas Neue;
font-size: 25px;
}

.footer p{
    color: white;
} 

.footer p .color{
    color: #FFF500;
} 
